{% from 'macros.html' import include_src %}
{% extends "base.html" %}


{% block title %}Hello World{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6">
{% filter markdown %}
# Hello World

This is the first test of `pyspark` and `databench`. Also for the first
time, it connects a _language kernel_ via `zmq` to the main `databench`
process. This means the analysis runs without altering the threading
model which was necessary to support WebSockets and which conflicts with
the configuration necessary to support `pyspark`.
{% endfilter %}
    </div>

    <div class="col-md-6">
        <h1>Log</h1>
        <pre id="log"></pre>
    </div>
</div>
{% endblock %}


{% block footerscripts %}
<script>
    var databench = Databench();

    setInterval(function() {
        console.log('test');
        databench.emit('frontendmessage', {});
    }, 1000);
</script>
{% endblock %}